@model ShippingMark.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<h2 class="mb-4">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Thay đổi cài đặt tài khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        @* === THÊM PHẦN NÀY ĐỂ CÓ NÚT CHỈNH SỬA === *@
        <dt>Thông tin cá nhân:</dt>
        <dd class="mb-2">
            @Html.ActionLink("Chỉnh sửa họ tên", "EditProfile", null, new { @class = "btn btn-outline-secondary btn-sm" })
        </dd>

        <dt>Mật khẩu:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Tạo mật khẩu", "SetPassword")
            }
        </dd>
        @* Các cài đặt khác có thể nằm ở đây *@
    </dl>
</div>
