@model ShippingMark.Models.ChiTietHangHoa

@{
    ViewBag.Title = "Chỉnh sửa";
}

@* Tiêu đề trang *@
<h2>Chỉnh sửa Chi Tiết Hàng Hóa</h2>
<hr />

@using (Html.BeginForm())
{
    @* Token chống tấn công giả mạo và các trường ẩn *@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ThongBaoXuatHang_ID)
    @* Sử dụng row và g-3 (gap) để tạo layout lưới với khoảng cách *@
<div class="row g-3">

    @* --- CỘT 1 --- *@
    <div class="col-md-4">
        @Html.LabelFor(model => model.MODEL, new { @class = "form-label" })
        @Html.EditorFor(model => model.MODEL, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MODEL, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.SIZE, new { @class = "form-label" })
        @Html.EditorFor(model => model.SIZE, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SIZE, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.NW, new { @class = "form-label" })
        @Html.EditorFor(model => model.NW, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NW, "", new { @class = "text-danger" })
    </div>

    @* --- CỘT 2 --- *@
    <div class="col-md-4">
        @Html.LabelFor(model => model.GW, new { @class = "form-label" })
        @Html.EditorFor(model => model.GW, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.GW, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Dai, new { @class = "form-label" })
        @Html.EditorFor(model => model.Dai, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Dai, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Rong, new { @class = "form-label" })
        @Html.EditorFor(model => model.Rong, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Rong, "", new { @class = "text-danger" })
    </div>

    @* --- CỘT 3 --- *@
    <div class="col-md-4">
        @Html.LabelFor(model => model.Cao, new { @class = "form-label" })
        @Html.EditorFor(model => model.Cao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cao, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.COLOR, new { @class = "form-label" })
        @Html.EditorFor(model => model.COLOR, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.COLOR, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.SelectedTypeNum, new { @class = "form-label" })
        @Html.EnumDropDownListFor(model => model.SelectedTypeNum, htmlAttributes: new { @class = "form-select" })
        @Html.ValidationMessageFor(model => model.SelectedTypeNum, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.ExtendedContent, new { @class = "form-label" })
        @Html.EditorFor(model => model.ExtendedContent, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ExtendedContent, "", new { @class = "text-danger" })
    </div>
    @* --- CỘT 4 --- *@
    <div class="col-md-4">
        @Html.LabelFor(model => model.LotNo, new { @class = "form-label" })
        @Html.EditorFor(model => model.LotNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LotNo, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.QUANTITY, new { @class = "form-label" })
        @Html.EditorFor(model => model.QUANTITY, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.QUANTITY, "", new { @class = "text-danger" })
    </div>



    @* --- Dòng riêng cho Checkbox để canh chỉnh đẹp hơn --- *@
    <div class="col-12">
        <div class="form-check mt-2">
            @Html.CheckBox("UsingPrint", Model.UsingPrint ?? false, new { @class = "form-check-input" })
            @Html.LabelFor(model => model.UsingPrint, new { @class = "form-check-label" })
            @Html.ValidationMessageFor(model => model.UsingPrint, "", new { @class = "text-danger" })
        </div>
    </div>

    @* --- Nút bấm và liên kết --- *@
    <div class="col-12 mt-4">
        <input type="submit" value="Lưu" class="btn btn-primary" />
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
    </div>

</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}