@model ShippingMark.Models.IFT
@{
    ViewBag.Title = "Chỉnh sửa IFT";
}

<h2 class="mb-4">Chỉnh sửa IFT</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="row">
            @* Cột 1: Thông tin cơ bản *@
            <div class="col-md-4">
                <div class="mb-3">
                    @Html.LabelFor(model => model.REFNO, new { @class = "form-label" })
                    @Html.EditorFor(model => model.REFNO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.REFNO, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.PoNo, new { @class = "form-label" })
                    @Html.EditorFor(model => model.PoNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PoNo, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.MODEL, new { @class = "form-label" })
                    @Html.EditorFor(model => model.MODEL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MODEL, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.SIZE, new { @class = "form-label" })
                    @Html.EditorFor(model => model.SIZE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SIZE, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.NW, new { @class = "form-label" })
                    @Html.EditorFor(model => model.NW, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NW, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.GW, new { @class = "form-label" })
                    @Html.EditorFor(model => model.GW, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GW, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Dai, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Dai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dai, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Rong, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Rong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rong, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Cao, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Cao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cao, "", new { @class = "text-danger" })
                </div>
            </div>

            @* Cột 2: Thông tin chi tiết *@
        <div class="col-md-4">
            <div class="mb-3">
                @Html.LabelFor(model => model.COLOR, new { @class = "form-label" })
                @Html.EditorFor(model => model.COLOR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COLOR, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Type, new { @class = "form-label" })
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.TypeSuffix, new { @class = "form-label" })
                @Html.EditorFor(model => model.TypeSuffix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeSuffix, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.StartSerial, new { @class = "form-label" })
                @Html.EditorFor(model => model.StartSerial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartSerial, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.NumSerial, new { @class = "form-label" })
                @Html.EditorFor(model => model.NumSerial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumSerial, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.LotNo, new { @class = "form-label" })
                @Html.EditorFor(model => model.LotNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LotNo, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.SelectedTypeNum, new { @class = "form-label" })
                @Html.EnumDropDownListFor(model => model.SelectedTypeNum, "--- Chọn loại ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedTypeNum, "", new { @class = "text-danger" })
            </div>
        </div>

            @* Cột 3: Thông tin khách hàng và khác *@
        <div class="col-md-4">
            <div class="mb-3">
                @Html.LabelFor(model => model.Customer, new { @class = "form-label" })
                @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.QUANTITY, new { @class = "form-label" })
                @Html.EditorFor(model => model.QUANTITY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QUANTITY, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.COMMODITY, new { @class = "form-label" })
                @Html.EditorFor(model => model.COMMODITY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COMMODITY, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.CustomerCode, new { @class = "form-label" })
                @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3 form-check form-switch">
                @Html.CheckBox("usingPrint", Model.usingPrint ?? false, new { @class = "form-check-input", role = "switch", id = "usingPrintCheckbox" })
                @Html.LabelFor(model => model.usingPrint, new { @class = "form-check-label" })
                @Html.ValidationMessageFor(model => model.usingPrint, "", new { @class = "text-danger" })
                <span id="printStatus" class="@(Model.usingPrint == true ? "text-success" : "text-danger")">
                    @(Model.usingPrint == true ? "Đã in" : "Chưa in")
                </span>
            </div>
        </div>
        </div>

        @* Nút lưu và trở về danh sách *@
        <div class="row mt-4">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-save"></i> Lưu
                </button>
                @Html.ActionLink("Trở về danh sách", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const checkbox = document.getElementById("usingPrintCheckbox");
            const statusSpan = document.getElementById("printStatus");
            const hiddenInput = document.querySelector('input[name="usingPrint"][type="hidden"]');

            // Xóa hidden input nếu có để tránh xung đột
            if (hiddenInput) {
                hiddenInput.remove();
            }

            checkbox.addEventListener("change", function () {
                if (checkbox.checked) {
                    statusSpan.textContent = "Đã in";
                    statusSpan.classList.remove("text-danger");
                    statusSpan.classList.add("text-success");
                } else {
                    statusSpan.textContent = "Chưa in";
                    statusSpan.classList.remove("text-success");
                    statusSpan.classList.add("text-danger");
                }
            });
        });
    </script>
}